#welcome_screen{
    -fx-background-image: url("/images/TDDLogo.png");
    -fx-background-repeat: no-repeat no-repeat;   
    -fx-background-size: 30%;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#fcfcfc , #c8c8c8);
}

#auswahl, #auswahl2 {
	-fx-font-family: "Courier New", Courier, monospace;
	-fx-font-weight: bold;
	-fx-font-size: 28;
}

#bt_toGreen{
    -fx-background-color: #49b71d !important;
	-fx-text-fill:white;
}
#bt_toGreen:hover{
	-fx-background-color: #73f142 !important;
	
}
#bt_toRed{
	-fx-background-color: #d52828 !important;
	-fx-text-fill:white;
}
#bt_toRed:hover{
	-fx-background-color: #c96d6d !important;
}
#lbl_noSelection{
	 -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5) , 5,0.3,0,1 );
	 -fx-font-weight:bold;  
}
.button{
	-fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#414141, #232323);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 180;
}
.comboBox{
	-fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
.button:hover{
	-fx-background-color: linear-gradient(#6c6c6c, #414141);
	-fx-cursor: hand;
}

#code_area, #description {
	-fx-font-family: Courier New;
}

.root{
	-fx-background-color: linear-gradient(#fcfcfc , #c8c8c8);
	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-position: 490 40;
}

#stage_red {
	-fx-background-image: url("/images/TDDred.png");
}
#stage_refactor {
	-fx-background-image: url("/images/TDDblack.png");
}
#stage_green {
	-fx-background-image: url("/images/TDDgreen.png");
}